@use '../../styles/vars';

.intro {
  padding: 0 0 (vars.$bigGutter)*3 0;
  margin-left: (vars.$bigGutter)*5;
  &__name {
    font-family: vars.$largeFont ;
    font-size: (vars.$bigGutter)*5;
   font-weight: 400;
  }
  &__skills {
    display: flex;
    position: relative;
    padding: vars.$smallGutter 0;
    &__and {
      font-size: vars.$bigGutter;
      font-weight: 400;
      padding: (vars.$smallGutter)/2 (vars.$bigGutter)/2;
    }
  }
}

