@use '../../styles/vars';

.intro {
  padding: 0 0 (vars.$bigGutter)*3 0;
  margin-left: (vars.$bigGutter)*5;
  &__name {
    font-family: vars.$largeFont ;
    font-size: (vars.$bigGutter)*5;
   font-weight: 400;
   text-shadow: 5px 5px vars.$lightBrown;
  transition: all .2s ease-in-out;
  }
  &__skills {
    display: flex;
    position: relative;
    padding: vars.$smallGutter 0;
    display: flex;
    align-items: center;
    &__and {
      font-size: vars.$bigGutter;
      font-weight: 400;
      padding: 0 (vars.$smallGutter)/2;
      align-self: flex-end;
      margin-top: 10px;
    }
  }
}

@media (max-width: 879px) {
  .intro {
    &__name {
      font-size: (vars.$bigGutter)*4;
    }
    &__skills {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      vertical-align: center;
      margin-bottom: (vars.$smallGutter)/2;
      &__and {
        visibility: hidden;
        font-size: 0px;
        margin: (vars.$smallGutter)/2;
      }
    }
  }
  
}


/* Responsive smartphone */
/*=====================================*/

@media (max-width: 562px) {

  .intro {
    &__name {
      font-size: (vars.$bigGutter)*2;
    }
    &__skills {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      vertical-align: center;
      margin-bottom: (vars.$smallGutter)/2;
      &__and {
        visibility: hidden;
        font-size: 0px;
        margin: (vars.$smallGutter)/2;
      }
    }
  }
}

@media (max-width: 562px) {

  .intro {
   margin-left: (vars.$bigGutter);
   margin-right: (vars.$bigGutter);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: 0 auto;
   &__skills {
     display: flex;
     flex-direction: column;
     align-items: center;;
   }

   &__name {
    font-size: (vars.$bigGutter)*4;
   }
  }
 }
