@use '../../styles/vars';

.bigSquaredTag {
  text-transform: uppercase;
  font-size: vars.$bigGutter;
  font-weight: 500;
  border: solid 2px vars.$beige;
  padding: (vars.$smallGutter)/2;
}

@media screen and (max-width: 562px) { 
  .bigSquaredTag {
    font-size: (vars.$smallGutter) * 1.2;
  }
}
