@use '../../styles/vars';

.aside {
  position : fixed;
  height: 100%;
    &__link {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        margin:  calc(100% + 10rem) 0 0 0; 
    }
}
