// colors
$darkBrown: #411012;
$lightBrown: #7F2010;
$darkRed: #BD3018;
$orange: #D45514;
$yellow: #E6A934;
$beige: #E8E1D7;


// fonts
$titleFont : 'myriad-std-tilt', sans-serif;
$largeFont : 'Six Caps', sans-serif;
$smallFont: 'kepler-std,' serif;
$bodyFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



//gutter
$smallGutter: 1rem;
$bigGutter : 1.7rem;
