@use '../../styles/vars';


.contact {
    display: flex;
    margin-left: (vars.$bigGutter)*5;
    margin-right: (vars.$bigGutter)*5;
    &__squares {
      &__flex {
        display: flex;
        &__block {
          width:  40vw;
          background-image: url('../../assets/images/dev.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          &__title {
            display: flex;
            flex-direction: column;
            height: 80%;
            justify-content: center;
            align-items: center;

            &__top {
              font-family: vars.$smallFont;
              color: vars.$darkBrown;
              text-transform: uppercase;
              font-style: italic;
              font-size: 100%;
            }
            &__bottom {
              font-family: vars.$largeFont;
              color: vars.$darkBrown;
              font-size: (vars.$bigGutter)*5;
              font-weight: 400;
            }
          }
          &__description {
            text-align: center;
            font-size: vars.$smallGutter;
            color: vars.$darkBrown;
            text-transform: uppercase;
          }
        }
        &__aboutMe {
          width:  40vw;
          background-image: url('../../assets/images/dev.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 70vh;
        }
      }
    }
}

.contact__module {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  list-style: none;
  display: grid;
  height: 80vh;
  &__square {
    grid-column: 1;
    position: relative;

    &__contact{
      grid-row: span 12;
      grid-column: 1;
      height: 100%;
      &__block {
        background-image: url('../../assets/images/dev.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: vars.$darkBrown;
        height: 100%;
        display: flex;
        align-items: center;
        vertical-align: center;
        width: 100%;
        position: relative;
        &__mainTitle {
          display: block;
          width: 100%;
          position: relative;
          z-index: 10;
          &__small__title {
            display: block;
            font-size: (vars.$bigGutter)*1.5;
            font-family: vars.$smallFont;
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
          }
          &__big__title {
            display: block;
            font-size:( vars.$bigGutter*10);
            font-family: vars.$largeFont;
            text-transform: uppercase;
            text-align: center;
          } 
        }
         &__description {
            position: absolute;
            width: 100%;
            bottom: (vars.$bigGutter)*2;
            text-align: center;
            font-size: vars.$smallGutter;
          }
      }
    }
    &__contact {
      grid-row: span 12;
      grid-column: 1;
      height: 100%;
      &__block {
        background-image: url('../../assets/images/contact.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: vars.$yellow;
        height: 100%;
        display: flex;
        align-items: center;
        vertical-align: center;
        width: 100%;
        position: relative;
        &__mainTitle {
          display: block;
          width: 100%;
          position: relative;
          z-index: 10;
          &__small__title {
            display: block;
            font-size: (vars.$bigGutter)*1.5;
            font-family: vars.$smallFont;
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
          }
          &__big__title {
            display: block;
            font-size:( vars.$bigGutter*10);
            font-family: vars.$largeFont;
            text-transform: uppercase;
            text-align: center;
          } 
        }
         &__description {
            position: absolute;
            width: 100%;
            bottom: (vars.$bigGutter)*2;
            text-align: center;
            font-size: vars.$smallGutter;
          }
      }
    }
    &__form {
      grid-row: span 12;
      grid-column: 2; 
      height: 100%;
      &__block {
        background-color: vars.$yellow;
        color: vars.$darkBrown;
        height: 100%;
        display: flex;
        align-items: center;
        vertical-align: center;
        width: 100%;
        position: relative;
        padding: vars.$bigGutter;
        &__form {
          width: 100%;
          &__labelBlock {
            &__label  {
              display: block;
              margin-bottom: vars.$smallGutter;
            }
            &__input {
              display: inline-block;
              margin-bottom: vars.$bigGutter;
              width: 100%;
              background-color: vars.$darkBrown;
              padding: vars.$smallGutter;
              border-radius: vars.$smallGutter;
              border: none;
              color: vars.$beige;
              &__message {
                display: inline-block;
              margin-bottom: vars.$bigGutter;
              width: 100%;
              background-color: vars.$darkBrown;
              padding: vars.$smallGutter;
              border-radius: vars.$smallGutter;
              border: none;
              color: vars.$beige;
              }
            }
          }
          }
          
        }
      }
    }
  }

  // Responsive tablet
/*=====================================*/

@media (max-width: 1138px) {

  .contact__module {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    height: 150vh;
    &__square {

      &__contact {
        display: none;
      }

      &__form {
        grid-row: span 5;
        grid-column: 1;
        height: 100%;
      }

  }
}

/* Responsive smartphone */
/*=====================================*/

@media (max-width: 562px) {

  .border {
  	width: 100%;
  }

  .categories {
  	display: block;
  }
}
}

