@use '../../styles/vars';


.devProjects {
    display: flex;
    margin-left: (vars.$bigGutter)*5;
    margin-right: (vars.$bigGutter)*5;
    max-width: 100%;
    border-collapse: collapse;
    &__squares {
      &__flex {
        display: flex;
        &__block {
          width:  40vw;
          background-image: url('../../assets/images/dev.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          &__title {
            display: flex;
            flex-direction: column;
            height: 80%;
            justify-content: center;
            align-items: center;
            &__top {
              font-family: vars.$smallFont;
              color: vars.$darkBrown;
              text-transform: uppercase;
              font-style: italic;
              font-size: 100%;
            }
            &__bottom {
              font-family: vars.$largeFont;
              color: vars.$darkBrown;
              font-size: (vars.$bigGutter)*5;
              font-weight: 400;
            }
          }
          &__description {
            text-align: center;
            font-size: vars.$smallGutter;
            color: vars.$darkBrown;
            text-transform: uppercase;
          }
        }
        &__aboutMe {
          width:  40vw;
          background-image: url('../../assets/images/dev.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 70vh;
        }
      }
    }
}

.devProjects__module {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  list-style: none;
  display: grid;
  height: 80vh;
  
  &__square {
    grid-column: 1;
    position: relative;
    

    &__devProjects {
      grid-row: span 4;
      grid-column: 1;
      height: 100%;
      
      &__block {
        background-image: url('../../assets/images/dev.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: vars.$darkBrown;
        height: 100%;
        display: flex;
        align-items: center;
        vertical-align: center;
        width: 100%;
        position: relative;
        &__mainTitle {
          display: block;
          width: 100%;
          position: relative;
          z-index: 10;
          &__small__title {
            display: block;
            font-size: (vars.$bigGutter)*1.5;
            font-family: vars.$smallFont;
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
          }
          &__big__title {
            display: block;
            font-size:( vars.$bigGutter*10);
            font-family: vars.$largeFont;
            text-transform: uppercase;
            text-align: center;
          } 
        }
         &__description {
            position: absolute;
            width: 100%;
            bottom: (vars.$bigGutter)*2;
            text-align: center;
            font-size: vars.$smallGutter;
          }
      }
    }

    &__items {
      grid-row: span 4;
      grid-column: 2; 
      height: 100%;
      position: relative;
      background-color: vars.$lightBrown;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

    }



}

.cssDefault {
  position: absolute;
  z-index: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .2s ease-in-out;
}
}



// Responsive tablet
/*=====================================*/

@media screen and (max-width: 1000px) {

  .devProjects__module {
    display: block;
    &__square {

      &__devProjects {
        height: 70%;
      }

      &__items {
        grid-row: 5/span 4;
      grid-column: 1;
      }

  }
}
}


/* Responsive smartphone */
/*=====================================*/

@media screen and (max-width: 562px) {
  .devProjects {
    margin-right: vars.$smallGutter;
    margin-left: vars.$smallGutter;
    &__module {
      display: block;
      &__square {
        &__devProjects {
          height: 50%;
        }
      }
    }
  }

  .bigTitle {
    font-size: (vars.$bigGutter)*4;
  }
}

